.sininen-teksti {
    color: blue;
}

.punainen-teksti {
    color: red;
}

.viininpunainen-teksti {
    color: #a52a29;
}

.pinkki-teksti {
    color: #f3a7f3;
}

#punainen-kohta {
    color: red;
}

.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 7px;
    border-color: green;
    padding-top: 20px;
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    margin-left: 240px;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 7px;
    border-color: red;
    padding-top: 20px;
}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: absolute;
    margin-left: 480px;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 7px;
    border-color: yellow;
    padding-top: 20px;
}




